body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
}
